
@{
    ViewBag.Title = "Grounds";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Grounds</h2>    
    <table class="table table-hover col-md-5 col-lg-5">
        <thead>
            <tr><th>Ground</th><th>Address</th><th>Map</th></tr>
        </thead>
        <tbody>
            <tr>
                <td>Cloverland (N.A.)</td>
                <td>12240 Dulaney Valley Rd, Phoenix, MD 21131</td>
                <td><a href="https://www.google.com/maps/place/12240+Dulaney+Valley+Rd,+Phoenix,+MD+21131/&#64;39.4688262,-76.5504414,17z/data=!3m1!4b1!4m2!3m1!1s0x89c80c75fb26144d:0xb924a0860529aa5" target="_blank">Map</a></td>
            </tr>
            <tr>
                <td>J.E. Howard	</td>
                <td>4400 Shell Street, Capitol Heights, MD 20743</td>
                <td></td>
            </tr>
            <tr>
                <td>Kenmoor (N.A.)	</td>
                <td>2500 Kenmoor Dr, Landover MD 20785</td>
                <td></td>
            </tr>
            <tr>
                <td>Mark Twain	</td>
                <td>4700 Franconia Road, Alexandria, VA 22310</td>
                <td></td>
            </tr>
            <tr>
                <td>Oxon Hill	</td>
                <td>1101 Marcy Avenue, Oxon Hill, MD 20745</td>
                <td></td>
            </tr>
            <tr>
                <td>Pimlico	</td>
                <td>3500 W Northern Parkway, Baltimore, MD 21215</td>
                <td></td>
            </tr>
            <tr>
                <td>WCC Turf Park - 1	</td>
                <td>8549 Brock Bridge Drive, Laurel MD 20725</td>
                <td></td>
            </tr>
            <tr>
                <td>WCC Turf Park - 2	</td>
                <td>8549 Brock Bridge Drive, Laurel MD 20725</td>
                <td></td>
            </tr>
            <tr>
                <td>WEB Center	</td>
                <td>5108 Dianna Drive Suitland, MD 20746</td>
                <td></td>
            </tr>
            <tr>
                <td>William Wirt (N.A.)	</td>
                <td>6200 Tuckerman Street, Riverdale, MD 20737</td>
                <td></td>
            </tr>
            

        </tbody>
    </table>
<div style="width:100%;">&nbsp;</div>



