/*body {
    padding-top: 70px;
    padding-bottom: 20px;
    padding-left:20px;
}*/

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 130px;
    padding-bottom: 20px;
    padding-left: 50px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.navbar-brand {
    max-height: 60px;
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
}

.wmcbclearbackground {
    background-color: #fff;
}

.wmcbnavbar {
    background-color: #82080B;
}

.logo {
    float: left;
}

.logoname {
    box-sizing:border-box;
    font-weight:300;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 33px;
    margin-top:20px;
    margin-bottom:10px;
    color: #000;
}

.navbar-collapse .navbar-nav.navbar-left:first-child {
    margin-left: 0px;
}
/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 150px;
        left: -100px;
        width: 225px;
        margin-left: 0px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    /*.navbar-collapse ul {margin-top: 0px; }*/
    .wmcbnavbar {
        margin-top: 0px;
    }

    .navbar-nav {
        margin-top: 0px;
        margin-left: 100px;
    }

    .logoname {
        font-size:11px;
    }

    .navbar-brand {
        max-height: 50px;
        overflow: visible;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    /*.navbar-collapse ul {margin-top:0px; }*/
    .wmcbnavbar {
        margin-top: 0px;
    }

    .logoname {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 11px;
        line-height: 1.1;
    }

    .navbar-nav {
        margin-top: 0px;
        margin-left: 100px;
    }

    .navbar-brand {
        max-height: 50px;
        overflow: visible;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0px;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .navbar-collapse ul {
        margin-top: 0px;
    }

    .wmcbnavbar {
        margin-top: 10px;
    }

    .logoname {
        font-size: 25px;
    }

    .navbar-nav {
        margin-left: 100px;
    }

    .navbar-brand {
        max-height: 50px;
        overflow: visible;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .navbar-collapse ul {
        margin-top: -1px;
    }

    .wmcbnavbar {
        margin-top: 10px;
    }

    .navbar-nav {
        margin-left: 200px;
    }

    .logoname {
        font-size: 29px;
    }

    .navbar-brand {
        max-height: 60px;
        overflow: visible;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 70px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .navbar-collapse ul {
        margin-top: -1px;
    }

    .wmcbnavbar {
        margin-top: 10px;
    }

    .navbar-nav {
        margin-left: 230px;
    }

    .logoname {
        font-size: 29px;
    }

    .navbar-brand {
        max-height: 60px;
        overflow: visible;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 70px;
    }
}
