@model wmcb.model.View.LoginViewModel

<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li>@if (Request.IsAuthenticated)
        {
            <strong>@Html.Encode(User.Identity.Name)</strong>
            @Html.ActionLink("Sign Out", "Logout", "Account")
        }</li>
        <li class="active">
            <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> News Feed</a>
        </li>
        <li>
            <a href="charts.html"><i class="fa fa-fw fa-bar-chart-o"></i> Teams</a>
        </li>
       
    </ul>
</div>
<div style="width: auto; background-color: #728ea7;">
    
    @*else
    {
        @Html.ActionLink("Register", "Register", "Home")
        <span> | </span>
        @Html.ActionLink("Sign In", "Index", "Account")
    }*@
</div>